*,
*::before,
*::after {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #1F1F1F;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(117, 117, 117, 0.8);
}