@font-face {
  font-family: "iconfont"; /* Project id 4640808 */
  src: url('iconfont.woff2?t=1722520457719') format('woff2'),
       url('iconfont.woff?t=1722520457719') format('woff'),
       url('iconfont.ttf?t=1722520457719') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bzhan:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e66f";
}

