@font-face {
  font-family: "iconfont"; /* Project id 4640808 */
  src: url('iconfont.woff2?t=1729779015027') format('woff2'),
       url('iconfont.woff?t=1729779015027') format('woff'),
       url('iconfont.ttf?t=1729779015027') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e634";
}

.icon-dianhua:before {
  content: "\e633";
}

.icon-shengbo:before {
  content: "\e8c4";
}

.icon-shipin:before {
  content: "\e655";
}

.icon-guanliyuan:before {
  content: "\e6d0";
}

.icon-tijiao:before {
  content: "\e627";
}

.icon-tianjia:before {
  content: "\e625";
}

.icon-bianji:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e626";
}

.icon-biaoqing:before {
  content: "\e602";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-guanbi:before {
  content: "\e644";
}

.icon-fenye-zuo:before {
  content: "\e652";
}

.icon-fenye-you:before {
  content: "\e653";
}

.icon-gengduo:before {
  content: "\e60b";
}

.icon-shaixuan:before {
  content: "\e6b7";
}

.icon-paixu:before {
  content: "\ea4b";
}

.icon-sousuo:before {
  content: "\e61c";
}

.icon-nv:before {
  content: "\e645";
}

.icon-nan:before {
  content: "\e643";
}

.icon-tuichu:before {
  content: "\e659";
}

.icon-yonghu:before {
  content: "\e639";
}

.icon-tongzhi:before {
  content: "\e637";
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-xitong:before {
  content: "\e621";
}

.icon-shuoshuo:before {
  content: "\e6d1";
}

.icon-fenzhu:before {
  content: "\e676";
}

.icon-bzhan:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e66f";
}

